<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Knight list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    <label th:class="controls-pane">Czas:</label>
    <p th:text="${timecom.getTime()}"/>
    <label th:class="controls-pane">Punkty:</label>
    <p th:text="${infosuperhero.getPunkty()}"/>

    <table class="table">
    <thead>
        <tr>
            <td>Imie</td>
            <td>Wiek</td>
            <td>Zadanie do wykonania</td>
            <td>Usun</td>
            <td><a href="/superhero"></a> </td>
        </tr>
    </thead>
    <tbody>
    <tr th:each="superhero :${superheroatr}">

        <td th:text="${superhero.name}"></td>
        <td th:text="${superhero.age}"></td>
        <td></td>
        <td><a th:href="${'/superhero/delete/'+superhero.getName()}">Usun</a></td>

    </tr>
    </tbody>

</table>
    <div th:class="row">
<button type="button"> <a href="/addsuperhero">Dodaj nowego</a></button>
    </div>
</div>
</body>
</html>